<!DOCTYPE html>
<html lang="en">
<head>
<title>Employment Hub</title>
	{% load static %}
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Web Booster Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.css'%}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
	<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
	
	<!--web font-->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!--//web font-->

	    <style>
        .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
    </style>
</head>

<body>


<header>	
<div class="container">
<!-- nav -->
		<nav class="navbar navbar-expand-lg navbar-light py-4">
			<!-- logo -->
			<h1>
				<a class="navbar-brand" href="Home/home.html"> <i class="fas fa-globe"></i>
					Employment <span>Hub</span>
				</a>
			</h1>
			<!-- //logo -->
			<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- main nav -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto text-center">
					<li class="nav-item active mr-lg-2">
						<a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item mr-2">
						<a class="nav-link " href="/admin/showFreelancer">Freelancers</a>
					</li>
					<li class="nav-item mr-2">
						<a class="nav-link" href="/admin/showEmployer">Employers</a>
					</li>
					<li class="nav-item mr-2">
						<div class="dropdown">
							<button class="dropbtn" style="background-color:cadetblue;"><i class="fas fa-user" style="font-size:30px;float:right;"></i></button>
							<div class="dropdown-content">
								<a href="/admin/logout/">Log Out</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- //main nav -->
		</nav>
		<!-- //nav -->
</div>
</header>

<!-- banner -->
<div class="banner">
	<div class="banner-layer">
		<div class="container">
			<div class="agile_banner_info">
				<div class="agile_banner_info1">

					<div id="typed-strings" class="agileits_w3layouts_strings">
						<p>Boost Your <i>Business.</i></p>
						<p>We Are <i>Creative</i> Agency.</p>
						<p><i>Professional </i>Management.</p>
						<p>We Make <i>Web Better...</i></p>
					</div>
					<span id="typed" style="white-space:pre;"></span>
				</div>
			<div class="banner_agile_para">
				<p>Millions of small businesses use Freelancer to turn their ideas into reality.</p>
			</div>
<!--			<a href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button"> Read More </a>-->
			<a href="/freelancer/login">I want Work</a>
			<a href="/employer/login">I want Hire</a>

			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!--project details-->


<!--//project-->
<!-- about -->
<section class="welcome py-5" id="welcome">
	<div class="container">
		<div class="head_part">
			<h3 class="heading">About Us</h3>
			<p class="heading-bottom mb-5">Few Words Of Our Company</p>
		</div>
		<div class="row">
			<div class="col-lg-7 welcome_left">
				<h3 class="mb-3">Company Overview</h3>

				<p> EmploymentHub.com is the world's largest freelancing and crowdsourcing marketplace by number of users and projects. We connect over 32,579,356 employers and freelancers globally from over 247 countries, regions and territories. Through our marketplace, employers can hire freelancers to do work in areas such as software development, writing, data entry and design right through to engineering, the sciences, sales and marketing, accounting and legal services.
				</p>
				<a href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button"> Read More </a>


			</div>
		</div>
	</div>
</section>
<!-- //about -->















<!-- services -->
<!-- services -->

<!-- pricing -->


<!-- testimonials -->
<div class="testimonials py-5" id="testimonials">
	<div class="container py-3">
		<div class="head_part">
			<h3 class="heading">Testimonials</h3>
			<p class="heading-bottom mb-5">What Our Customer Says</p>
		</div>
		<div class="flexslider-info">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="row w3l-info1">
								<div class="col-md-3 testimonials-grid-1">
									<img src="{%static 'images/test1.jpg'%}" alt="" />
								</div>
								<div class="col-md-9 testimonials-grid-2">
									<i class="fas fa-quote-left"></i>
									<p>very good support good support team and very helpful and have proper knowledge about the service appropriated his support</p>
									<h4>Johnson</h4>
									<h5>“very good support”</h5>
								</div>
							</div>
						</li>
						<li>
							<div class="row w3l-info1">
								<div class="col-md-3 testimonials-grid-1">
									<img src="{%static 'images/test2.jpg'%}" alt="" />
								</div>
								<div class="col-md-9 testimonials-grid-2">
									<i class="fas fa-quote-left"></i>
									<p>very quick to resolve issue with rating freelancer. a+++ response
									by default "Completed on Budget" is set to NO..missed setting it to YES and impacted on Freelancers rating.</p>
									<h4>Richard</h4>
									<h5>“sorting out contractor feedback”</h5>
								</div>
							</div>
						</li>
						<li>
							<div class="row w3l-info1">
								<div class="col-md-3 testimonials-grid-1">
									<img src="{%static 'images/test3.jpg'%}" alt=""  />
								</div>
								<div class="col-md-9 testimonials-grid-2">
									<i class="fas fa-quote-left"></i>
									<p>He gives me a quick and accurate answer.
										Quickly understand complex situations.
										I hope you can help me next time.</p>
									<h4>Carnivel</h4>
									<h5>“Good Person”</h5>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- //testimonials -->

<!-- stats -->
<section class="stats" id="stats">
	<div class="wthree-different-dot1  py-5">
		<div class="container py-3">
			<div class="head_part">
				<h3 class="heading">Stats</h3>
				<p class="heading-bottom mb-5">Our company facts</p>
			</div>
			<div class="row agileits_stats_grids">
				<div class="col-md-3 col-6 agileinfo_stats">
					<div class="agileinfo_stats_grid">
						<p class="counter">654</p>
						<h3>Branches</h3>
					</div>
				</div>
				<div class="col-md-3 col-6 agileinfo_stats mid-w3l-stat">
					<div class="agileinfo_stats_grid">
						<p class="counter">432</p>
						<h3>Projects</h3>
					</div>
				</div>
				<div class="col-md-3 col-6 mt-md-0 mt-5 agileinfo_stats mid-w3l-stat hide_dot">
					<div class="agileinfo_stats_grid">
						<p class="counter">20</p>
						<h3>Experience</h3>
					</div>
				</div>
				<div class="col-md-3 col-6 mt-md-0 mt-5 agileinfo_stats mid-w3l-stat">
					<div class="agileinfo_stats_grid">
						<p class="counter">230</p>
						<h3>Customers</h3>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</section>
<!-- //stats -->

<!-- team -->
<section class="team py-5" id="team">
	<div class="container">
		<div class="head_part">
			<h3 class="heading">Team Members</h3>
			<p class="heading-bottom mb-5">Meet Our Team Professionals</p>
		</div>
		<div class="row team-grids">
			<div class="col-lg-3 col-sm-6 w3_agileits-team1">
				<img class="img-fluid" src="{% static 'images/t1.jpg'%}" alt="">
				<div class="team-info">
					<h5 class="">NILAY</h5>
					<p>Client Management</p>
					<div class="social-icons">
						<ul>
							<li>
								<a href="#" class="fab fa-facebook-f mr-1 icon-border facebook"> </a>
							</li>
							<li class="mx-1">
								<a href="#" class="fab fa-twitter mr-1 icon-border twitter"> </a>
							</li>
							<li>
								<a href="#" class="fab fa-google-plus-g mr-1 icon-border googleplus"> </a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 w3_agileits-team1">
				<img class="img-fluid" src="{%static 'images/t3.jpg'%}" alt="">
				<div class="team-info">
					<h5 class=""> DEVANSHU</h5>
					<p> General Manager</p>
					<div class="social-icons">
						<ul>
							<li>
								<a href="#" class="fab fa-facebook-f mr-1 icon-border facebook"> </a>
							</li>
							<li class="mx-1">
								<a href="#" class="fab fa-twitter mr-1 icon-border twitter"> </a>
							</li>
							<li>
								<a href="#" class="fab fa-google-plus-g mr-1 icon-border googleplus"> </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 w3_agileits-team1">
				<img class="img-fluid" src="{%static 'images/t4.jpg'%}" alt="">
				<div class="team-info">
					<h5 class=""> RAVI</h5>
					<p>Head of Department</p>
					<div class="social-icons">
						<ul>
							<li>
								<a href="#" class="fab fa-facebook-f mr-1 icon-border facebook"> </a>
							</li>
							<li class="mx-1">
								<a href="#" class="fab fa-twitter mr-1 icon-border twitter"> </a>
							</li>
							<li>
								<a href="#" class="fab fa-google-plus-g mr-1 icon-border googleplus"> </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		</div>
	</div>
</section>
<!-- //team -->

<!-- contact -->
<div class="contact py-5" id="contact">
	<div class="container py-3">
		<div class="head_part">
			<h3 class="heading">Get In Touch</h3>
			<p class="heading-bottom mb-5">Contact Information</p>
		</div>
		<div class="row agile-contact-form">

			<div class="row agile-contact-form">
			<div class="col-md-5 contact-form-left">
				<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Apple%20square%2CPuna-Simada%20Rd%2C%20Yogi%20Chowk%20Ground%2C%20Chikuwadi%2C%20Nana%20Varachha%2C%20Surat%2C%20Gujarat%20395006&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

				</div>
				<style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
			</div>
			</div>
			<div class="col-md-5 mt-md-0 mt-4 contact-form-right" style="padding-left:148px;">
				<div class="agileinfo-contact-form-grid">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input type="text" name="Subject" placeholder="Subject" required="">
						<input type="email" name="Email" placeholder="Email" required="">
						<textarea name="Message" placeholder="Message" required=""></textarea>
						<button class="btn1">Submit</button>
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //contact -->

<!-- footer -->
<footer class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 agileinfo_footer_grid footer-logo">
				<h2><a href="#"><i class="fas fa-globe"></i>
					Employment <span>Hub</span></a></h2>
			</div>
			<div class="col-lg-2 col-sm-6 agileinfo_footer_grid">
				<h3 class="mb-3"> Navigation</h3>
				<div class="agileinfo-social-grids footer-w3icons">
					<ul>
						<li class="mb-1"><a href="#"><i class="fa fa-home"></i>  Home</a></li>
						<li class="mb-1"><a href="#"><i class="fa fa-home"></i> Login</a></li>
						<li class="mb-1"><a href="#"><i class="fas fa-cogs"></i> Signup</a></li>
						<li class="mb-1"><a href="#"><i class="fas fa-users"></i> Browse Job</a></li>
						<li class="mb-1"><a href="#"><i class="fas fa-image"></i> Post Project</a></li>
						<li class="mb-1"><a href="#"><i class="fas fa-envelope-open"></i> Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 mt-3 agileinfo_footer_grid">
				<h3 class="mb-3"> Address</h3>
				<ul class="con_inner_text">
					<li class="mb-2"><span class="fa fa-map-marker" aria-hidden="true"></span>
					Apple square
					Puna-Simada Rd, Yogi Chowk Ground, Chikuwadi, Nana Varachha, Surat, Gujarat 395006
 					<label> nana varachha.</label></li>
					<li class="mb-2"><span class="fas fa-envelope-open" aria-hidden="true"></span> <a href="mailto:freelancerdjango@gmail.com">freelancerdjango@gmail.com</a></li>
					<li class="mb-1"><span class="fa fa-phone" aria-hidden="true"></span> +1234 567 567</li>
					<li class="mb-1"><span class="fa fa-clock" aria-hidden="true"></span> 8am to 6pm</li>
					<li class="mb-1"><span class="fa fa-globe" aria-hidden="true"></span> <a href="#">EmploymentHub.com</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-5 mt-3 agileinfo_footer_grid">
				<h3 class="mb-3">Newsletter</h3>
				<p>Brand & Business: Arrow Electronics and EmployementHub.com Launch World’s Largest Electronics & Electrical Engineering Services Marketplace, Revolutionizing How Hardware Products Get Designed & Manufactured
 </p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email Address" required="">
					<input type="submit" value="Subscribe">
				</form>
			</div>

			<!-- copyright -->
			<div class="col-lg-6 copyleft pl-0 pt-4 mt-4">
				<p>© 2018 Employment Hub. All Rights Reserved | Design by <a href="https://127.0.0.1:8000/" target="_blank">Employment Hub</a></p>
			</div>
			<div class="col-lg-6 copyright pr-0 pt-4 mt-4">
				<ul class="social">
					<li class="mr-3"><span class="fab mr-1 fa-facebook-f" aria-hidden="true"></span>Facebook</li>
					<li class="mr-3"><span class="fab mr-1 fa-twitter" aria-hidden="true"></span>Twitter</li>
					<li class="mr-3"><span class="fab mr-1 fa-linkedin" aria-hidden="true"></span>Linkedin</li>
					<li class=""><span class="fab mr-1 fa-google-plus" aria-hidden="true"></span>Google-plus</li>
				</ul>
			</div>
			<!-- //copyright -->

		</div>
	</div>
</footer>
<!-- footer -->

	<!-- Vertically centered Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title text-capitalize text-center" id="exampleModalLongTitle"><span class="fas fa-globe"></span> Employment <span class="logo">Hub</span></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<img src="{%static 'images/banner1.jpg'%}" class="img-fluid mb-3" alt="" />
			EmploymentHub.com is the world's largest freelancing and crowdsourcing marketplace by number of users and projects. We connect over 32,579,356 employers and freelancers globally from over 247 countries, regions and territories. Through our marketplace, employers can hire freelancers to do work in areas such as software development, writing, data entry and design right through to engineering, the sciences, sales and marketing, accounting and legal services. Freelancer Limited is trading on the Australian Securities Exchange under the ticker ASX:FLN
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
	<!-- //Vertically centered Modal -->

	<!-- js -->
	<script type="text/javascript" src="{%static 'js/jquery-2.1.4.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/bootstrap.js'%}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->	
	
	<!-- banner-type-text -->
		<script src="{%static 'js/typed.js'%}" type="text/javascript"></script>
		<script>
			$(function(){

				$("#typed").typed({
					// strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
					stringsElement: $('#typed-strings'),
					typeSpeed: 30,
					backDelay: 500,
					loop: false,
					contentType: 'html', // or text
					// defaults to false for infinite loop
					loopCount: false,
					callback: function(){ foo(); },
					resetCallback: function() { newTyped(); }
				});

				$(".reset").click(function(){
					$("#typed").typed('reset');
				});

			});

			function newTyped(){ /* A new typed object */ }

			function foo(){ console.log("Callback"); }
		</script>
	<!-- //banner-type-text -->
	
	<!-- Stats-Number-Scroller-Animation-JavaScript -->
	<script src="{%static 'js/waypoints.min.js'%}"></script>
	<script src="{%static 'js/counterup.min.js'%}"></script>
	<script>
		jQuery(document).ready(function( $ ) {
			$('.counter').counterUp({
				delay: 10,
				time: 1000 
			});
		});
	</script>
	<!-- //Stats-Number-Scroller-Animation-JavaScript -->

	<!-- flexslider --><!-- for testimonials -->
	<script defer src="{%static 'js/jquery.flexslider.js'%}"></script>
	<!--Start-slider-script-->
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
	<!--End-slider-script-->
	<!-- //flexslider --><!-- //for testimonials -->

	<!-- start-smoth-scrolling -->
	<script src="{%static 'js/SmoothScroll.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/move-top.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/easing.js'%}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

</body>
</html>